{% extends 'main/base.html' %}

{% block title %}
  О нас
{% endblock %}

{% block content %}
  <h1>Обо мне</h1>
  <p>Я человек</p>

  <!-- <h1 class="fullscreen__title"> Блок на весь экран </h1>

  <div class="fullscreen__text">
    Текст полноэкранного окна
  </div> -->

  <!-- <div class="inf_panels">


    <div class="info_panel">

      <div class="info_panel_image">

      </div>

      <div class="info_panel_title">

          <b>Title</b>

      </div>

      <div class="info_panel_text">

          <p>
            Text
          </p>

      </div>

    </div>


    <div class="info_panel">

      <div class="info_panel_image">

      </div>

      <div class="info_panel_title">

          <b>Title</b>

      </div>

      <div class="info_panel_text">

          <p>
            Text
          </p>

      </div>

    </div>

    <div class="info_panel">

      <div class="info_panel_image">


      </div>

      <div class="info_panel_title">

          <b>Title</b>

      </div>

      <div class="info_panel_text">

          <p>
            Text
          </p>

      </div>

    </div>

  </div> -->
  
{% endblock %}
