{% extends 'main/base.html' %}
{% load static %}

{% block title %}

{{ title }}

{% endblock %}


{% block head %}

<link rel="stylesheet" href="{% static "css/index.css" %}">

{% endblock %}


{% block content %}

    <div class="wapper">

      <img src="{% static "images/rm.webp" %}" class="rm_image" data-rellax-speed="-4">

      <section class="fullscreen">

        <div class="fullscreen__body">

          <div class="fullscreen__title">
            <img src="{% static "images/rm.png" %}">
            <b> Немного про меня... </b>
          </div>

          <div class="panels">

            {% if notes %}
              {% for el in notes %}

                  <div class="fullscreen_panel">
                    
                    <div class="fullscreen_panel_title">
                         <b>{{ el.title }}</b>
                    </div>

                    {% if el.image %}

                      <img class="pl_image" src="images/{{ el.image }}">

                    {% endif %}

                    <div class="fullscreen_panel_text">

                      {% autoescape off %}{{ el.text }}{% endautoescape %}

                    </div>

                  </div>

              {%  endfor %}

            {% else %}

            <div class="fullscreen__text">

              <p>/ - / Нет записей / - /</p>

            </div>

            {% endif %}

          </div>

        </div>

      </section>

    </div>

    <script src="https://cdn.jsdelivr.net/gh/dixonandmoe/rellax@master/rellax.min.js"></script>
    <script src="{% static "js/index.js" %}"></script>

{% endblock %}
